*{
    font-family: 'Josefin Sans', sans-serif;
}

.navbar{
    background-color:rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    padding-top: 5px;
}

.navbarlogo{
    position: absolute;
    margin-left: 10%;
    height: 40px; 
    width: 180px;
}


.naveachbutton{
    position: absolute;
    display: inline-flex;
    margin-left: 45%;
    padding: 0px;
}

.naveachbutton li{
    list-style-type:none ;
    margin-left: 15%;
}

a{
    text-decoration: none;
}
