*{
    font-family: 'Josefin Sans', sans-serif;
    color: #333333;
}


/*navbar */

.navbar{
    background-color:rgb(255, 255, 255);
    height: 50px;
    padding-top: 5px;
}

.navbarlogo{
    position: absolute;
    margin-left: 175px;
    height: 40px; 
    width: 180px;
}


.naveachbutton{
    position: absolute;
    display: inline-flex;
    margin-left: 650px;
    padding: 0px;
}

.naveachbutton li{
    list-style-type:none ;
    margin-left: 50px;
}

a{
    text-decoration: none;
}

/* landing page */ 
.section2{
    height: 575px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.title1{
    position: absolute;
    margin-top: 162px;
    margin-left: 225px;
    height: 300px;
    width:500px;
    background-color: rgb(255, 255, 255);
}

p{
    margin: 0;
    padding: 0;
}

.helloiam{
    margin-left:15px ;
    font-size: 50px;
}

.name{
    font-size:70px ;
    font-style: italic; 
    margin: 5px 0 5px 0;  
}

.tagline{
    margin-left: 15px;
    font-size:20px ;
    line-height :1.5em; ;
}

img{
    padding: 0;
    margin: 0;
}
.keyboardpic{
    position: absolute;
    margin-left:800px;
    margin-top:25px ;
    width:475px;
    height: 475px;
    background-color: rgb(255, 255, 255);

}

.cta{
    box-sizing: border-box;
    height: 40px;
    width: 175px;
    margin-left: 15px;
    border-color: #478ac9;
    color: #478ac9;
    background-color:white;
    cursor:pointer ;
    font-size:15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.calltoaction{
    margin-top: 15px;
    position: absolute;
    background-color: #ffffff;
    height: 100px;
    width: 400px;
}

.linkedin{
    position: absolute;
    width:40px ;
    margin-left:15px ;
}

.github{
    position: absolute;
    width:40px ;
    margin-left:70px ;
}

/* Section 3*/
.section3{
    height: 325px;
    width:1500px;
    background-color: #478ac9;
    display: flex;
    justify-content: center;
    border-radius: 50px 0 50px 0;
}

.section3content{
    box-sizing: border-box;
    padding: 50px;
    height:250px ;
    width:1100px ;

}

.s31{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.s32{
    color: white;
    text-align: center;
    line-height: 1.5em;
}

/* section 4*/

.section4{
    background-color: rgb(255, 255, 255);
    height:800px;
    width: 1500px;
}

.s4title{
    height:100px ;
    width:1500px ;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.s4title1{
    padding-top: 50px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;

}
.s4title2{

}

.s4content1{
    height: 100px;
    width: 1500px;
    background-color: #ffffff;
}

.s4content2{
    height:100px ;
    width:1500px ;
    background-color: #ffffff;
}